* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --color-title: #ffffff;
    --color-fundo-background: #000000;
    --color-style: rgb(251, 255, 27)
}


body, html {
    width: 100%;
    background-color: var(--color-fundo-background);
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}








