header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-fundo-background);
    height: 20vh;
    width: 100vW;
    border-bottom: double 7.5px var(--color-style);
    z-index: 20;
}

header h1{
    color: var(--color-title);
    font-weight: 400;
   
}
.logo img{
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    
}
nav span{
    color: var(--color-title);
}

nav ul {
    list-style: none;
    justify-content: center;
    gap: 5rem;
    font-size: 20px;
}

header a {
    text-decoration: none;
    color: var(--color-title);
}

.menu_hamburger{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 300px;
    padding: 10px;
    background-color: var(--color-fundo-background);
    color: var(--color-title);
    background-color: #aaaaaade;
    border-radius: 1rem;
    
}

.menu_hamburger img{
    height: 48px;
}
.menu_hamburger .topo_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_hamburger ul{
    padding: 0 2rem;
}

.menu_hamburger li{
    padding: 10px;
    border-bottom: solid 1px var(--color-style); 
}


header .material-symbols-outlined{
    font-size: 36px;
    cursor: pointer;
}



.material-symbols-outlined:hover{
    transition: .5s;
    color: var(--color-style);
}



