@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

main {
    height: 130vh;
    width: 100vw;
}

.opcoes_admin {
    position: absolute;
    top: 20%;
}

.imagens_promocionais{
    position: absolute;
    display: flex;
    align-items: center;
    height: 50vh;
    cursor: pointer;
    width: 100vw;
    top: 20%;
}

.carousel {
    display: flex;
    height: 50vh;
    cursor: pointer;
    width: 100vw;
    align-items: center;
}

.carousel button {
    position: absolute;
    background-color: var(--color-fundo-background);
    opacity: 0.5;
    width: 5rem;
    height: 5rem;
    margin: 6rem 1rem;
    border-radius: 50%;
    top: 25%;
}

.produtos {
    position: absolute;
    background-color: var(--color-fundo-background);
    color: var(--color-title);
    width: 100vw;
    top: 70%;
    padding: 3rem;
}

.produtos h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

.item {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1rem 0;
    flex-wrap: wrap;
}

.btn1{
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border-radius: 20px;   
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn1:hover{
    background-color: var(--color-style);
}
.item div {
    width: 300px;
    height: 300px;
}

.item img {
    width: 100%;
    height: 100%;
}

.opcoes_admin {
    padding: 2rem 3rem;
    color: var(--color-title);
    gap: 2rem;
    text-align: center;
}

.opcoes_admin button {
    padding: 1rem 2rem;
    font-size: 20px;
    margin: 2rem 1rem;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: var(--color-fundo-background);
    color: var(--color-title);
}

.opcoes_admin button:hover {
    border-color: var(--color-style);
    color: var(--color-style);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        /* Media queries para largura */
        @media (max-width: 2200px) {
            .imagens_promocionais {
                height: 60vh;
            }

            .produtos {
                top: 80%;
            }

            footer{
                top: 150%;
            }
        }
        

        @media (max-width: 2000px) {
            .produtos {
                gap: 5rem;
            }
        }

        @media (max-width: 1700px) {
            .imagens_promocionais {
                height: 40vh;
                top: 30%;
            }
        }

        @media (max-width: 1600px) {
            .imagens_promocionais {
                height: 40vh;
            }

            .produtos {
                top: 80%;
            }

            footer{
                top: 100%;
            }
        }

        @media (max-width: 1200px) {
            .produtos {
                gap: 3rem;
            }
        }

        @media (max-width: 1100px) {
            .imagens_promocionais {
                height: 30vh;
            }

            .produtos {
                top: 70%;
            }

            footer{
                top: 120%;
            }
        }

        @media (max-width: 1000px) {
            .imagens_promocionais {
                height: 30vh;
            }


            footer{
                top: 250%;
            }
        }
        @media (max-width: 900px) {
            .produtos {
                gap: 1.5rem;
            }
        }

        @media (max-width: 700px) {

            .imagens_promocionais{
                display: none;
            }
            .produtos {
                top: 20%;
            }
            footer{
                top: 250%;
            }
        }

        @media (max-width: 500px) {
            .produtos {
                gap: 0.5rem;
            }
        }

        

     