main {
    height: 130vh;
    width: 100vw;
    background-color: rgb(20, 20, 20);

}

.carousel {
    position: absolute;
    display: flex;
    height: 50vh;
    top: 20%;
    cursor: pointer;
}

.carousel button {
    background-color: var(--color-fundo-background);
    opacity: 0.5;
    width: 5rem;
    height: 5rem;
    margin: 6rem 1rem;
    border-radius: 50%;
}






.produtos {
    position: absolute;
    background-color: var(--color-fundo-background);
    color: var(--color-title);
    width: 100vw;
    top: 70%;
    padding: 3rem;

}

.item {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1rem 0;
}

.item div {
    width: 300px;
    height: 300px;
}

.item img {
    width: 100%;
    height: 100%;
}