* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --color-title: #ffffff;
    --color-fundo-background: #000000;
    --color-style: rgb(251, 255, 27)
}

body {
    height: 100vh;
    width: 100%;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-fundo-background);
    height: 15vh;
    width: 100vW;
    border-bottom: double 7.5px var(--color-style);
}

header h1{
    color: var(--color-title);
   
}

nav {
    display: flex;
    justify-content: space-around;
    
}
nav span{
    color: var(--color-title);
}

nav ul {
    list-style: none;
    justify-content: center;
    gap: 5rem;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--color-title);
}

.menu_hamburger{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 300px;
    padding: 10px;
    background-color: var(--color-fundo-background);
    color: var(--color-title);
    background-color: #aaaaaade;
    border-radius: 1rem;
    
}

.menu_hamburger img{
    height: 48px;
}
.menu_hamburger .topo_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_hamburger li{
    padding: 10px;
    border-bottom: solid 1px var(--color-style); 
}

main{
    background-color: #8d8d8d;
    height: 130vh;
    padding: 1rem 2rem;
    justify-content: center;
}

.imagens_promocionais{
    background-color: rgb(209, 207, 207);
    height: 40%;
    border: solid 1px var(--color-fundo-background);
    margin-bottom: 1rem;
}

.produtos{
    background-color: rgb(209, 207, 207);
    height: 100%;
    border: solid 1px var(--color-fundo-background);
    display: flex;
    padding: 5rem 1rem;
    gap: 15rem;
    justify-content: center;
}

.produtos div{
    width: 325px;
    height: 500px;
    background-color: brown;
}

.material-symbols-outlined{
    font-size: 36px;
    cursor: pointer;
}



.material-symbols-outlined:hover{
    transition: .5s;
    color: var(--color-style);
}
















@media  screen and (max-width: 1200px) {
    
    .produtos{
        gap: 10rem;
    }
}