:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(54, 93%, 47%);
  --color-blue: hsl(81, 15%, 55%);
  --color-dark-blue: hsl(80, 45%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: unset;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  min-height: 100vh;
  background-color: var(--color-light-gray);
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainSection {
  background-color: var(--color-white);
  max-width: 400px;
  padding: 2em;
  border-radius: 1.5em;
  box-shadow: 0 1.5em 1.5em rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container {
  margin-bottom: 2em;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 1em;
  max-width: 100%;
}

h1 {
  font-size: 1.5rem;
  color: var(--color-dark-blue);
  margin-top: 1em;
}

label {
  display: block;
  font-size: 1.2rem;
  color: var(--color-blue);
  margin-bottom: 0.5em;
}
