.search_bar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    max-width: 300px; /* Ajuste a largura conforme necessário */
    height: 40px;
    overflow: hidden;
}

.search_bar input {
    border: 0;
    outline: 0;
    background-color: #fff;
    width: 100%; /* Mantém a barra sempre aberta */
    font-size: 1rem;
    padding-left: 16px;
}

.search_bar label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 40px;
    height: 40px; /* Ajuste para corresponder ao tamanho do contêiner pai */
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.search_bar .icon {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
}

.search_bar .icon::before,
.search_bar .icon::after {
    content: "";
    position: absolute;
    display: block;
}

.search_bar .icon::before {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 0;
    left: 0;
    border: 3px solid #00283d;
}

.search_bar .icon::after {
    width: 10px;
    height: 2px;
    transform: rotate(50deg);
    border-radius: 2px;
    background-color: #00283d;
    right: -2px;
    bottom: 0;
}